body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(29, 29, 51);
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px; 
    width: 100%;
    padding: 80px; 
    box-sizing: border-box;
    gap: 80px; 
}


.text-content {
    flex: 1;
    max-width: 600px; 
}


.side-image {
    flex: 1;
    max-width: 700px; 
    width: 100%;
    height: auto;
}


h1 {
    font-size: 3.5em; 
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em; 
    color: #ccc;
    margin-bottom: 50px;
}


.button-container {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    width: 100%;
}

.button-container a {
    width: 100%;
    text-decoration: none; 
    justify-content: center;
    gap: 20px;
    width: 370px;
    /* flex-wrap: wrap; */
}

.button-container button {
    background-color: #ca380a;
    color: white;
    padding: 20px 40px; 
    font-size: 1.3em; 
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    width: 100%;
}

.button-container button:hover {
    background-color: #9d1d04;
    transform: scale(1.07);
}


.button-container button:focus {
    outline: none;
}


footer {
    font-size: 1em;
    color: #ccc;
    margin-top: 30px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
    }

    .side-image {
        max-width: 100%;
        margin-top: 40px;
    }

    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 1.3em;
        margin-bottom: 30px;
    }

    .button-container button {
        font-size: 1.1em;
        padding: 15px 25px;
    }
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #3b3b3b;
  }
  
  canvas{
    margin: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #4b4b4b;
  }
  /* escolha skin */
   

    .container2 {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      position: absolute;
      top: 37%;
      left: 33%;
    }

    .botao1 {
        width: 250px;
        height: 350px;
        background-image: url('guaxinim.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      
        background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
        backdrop-filter: blur(8px); /* Aplica o blur no que estiver atrás */
        
      
        border: none;
        cursor: pointer;
        border-radius: 12px; /* opcional: cantos arredondados */
      }
      
    .botao2 {
        width: 250px;
        height: 350px;
        background-image: url('capivara.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      
        background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
        backdrop-filter: blur(8px); /* Aplica o blur no que estiver atrás */
        
      
        border: none;
        cursor: pointer;
        border-radius: 12px; /* opcional: cantos arredondados */
        
      }

      .botao3 {
        width: 250px;
        height: 350px;
        background-image: url('soldado_azul.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      
        background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
        backdrop-filter: blur(8px); /* Aplica o blur no que estiver atrás */
        
      
        border: none;
    
        cursor: pointer;
        border-radius: 12px; /* opcional: cantos arredondados */
      }

      .botao4 {
        width: 250px;
        height: 350px;
        background-image: url('soldado_rosa.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 248px;
      
        background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
        backdrop-filter: blur(8px); /* Aplica o blur no que estiver atrás */
        
      
        border: none;
        cursor: pointer;
        border-radius: 12px; /* opcional: cantos arredondados */
      }
  
